spring-boot/target/
spring-boot/build/
spring-boot/dist/
spring-boot/out/
spring-boot/*.class
spring-boot/*.jar
spring-boot/*.war
spring-boot/*.ear
spring-boot/HELP.md
spring-boot/.dockerignore
spring-boot/Dockerfile
spring-boot/README.Docker.md
spring-boot/.vscode/

flask/.dockerignore
flask/Dockerfile
flask/README.Docker.md
flask/.vscode/
flask/__pycache__/

versions.txt
.vscode/
.dockerignore
docker-compose.yaml
sample-compose.yaml